<!DOCTYPE html>
<html>

<head>
    <!-- https://tailwindcomponents.com/component/card-table -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"
        integrity="sha512-bwD3VD/j6ypSSnyjuaURidZksoVx3L1RPvTkleC48SbHCZsemT3VKMD39KknPnH728LLXVMTisESIBOAb5/W0Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.js"
        integrity="sha512-MrA7WH8h42LMq8GWxQGmWjrtalBjrfIzCQ+i2EZA26cZ7OBiBd/Uct5S3NP9IBqKx5b+MMNH1PhzTsk6J9nPQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.css"
        integrity="sha512-49xW99xceMN8dDoWaoCaXvuVMjnUctHv/jOlZxzFSMJYhqDZmSF/UnM6pLJjQu0YEBLSdO1DP0er6rUdm8/VqA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"
        integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css"
        integrity="sha512-IXuoq1aFd2wXs4NqGskwX2Vb+I8UJ+tGJEu/Dc0zwLNKeQ7CW3Sr6v0yU3z5OQWe3eScVIkER4J9L7byrgR/fA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        #container {
            transform-style: preserve-3d;
            perspective: 1500px;
        }

        #content.translate {
            transform: translate3d(-200px, 0, -600px) rotateY(60deg);
        }
    </style>
    <script>
        tailwind.config = {
            variants: {
                extend: {
                    opacity: ['disabled'],
                }
            },
        }
    </script>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {

            const vueUsers = Vue.createApp({
                data() {
                    return {
                        users: [
                            {
                                name: '山',
                                txt_color: '#e66465',
                                bg_color: '#f6b73c',
                                isDisabled: true
                            },
                            {
                                name: '谷',
                                txt_color: '#0000ff',
                                bg_color: '#00ff00',
                                isDisabled: true
                            },
                            {
                                name: '中',
                                txt_color: '#ff00ff',
                                bg_color: '#00ff00',
                                isDisabled: true
                            }
                        ],
                        user: {
                            name: '',
                            txt_color: '#000000',
                            bg_color: '#ffffff'
                        }
                    }
                },
                methods: {
                    regist(event) {
                        this.users.unshift({
                            name: this.user.name,
                            txt_color: this.user.txt_color,
                            bg_color: this.user.bg_color,
                            isDisabled: true
                        });
                        this.user = {
                            name: '',
                            txt_color: '#000000',
                            bg_color: '#ffffff'
                        }
                        alertify.success('Registed!');
                    },
                    del(index) {
                        const tarUsers = this.users;
                        alertify.confirm("This is a confirm dialog.",
                            function () {
                                tarUsers.splice(index, 1);
                                alertify.success('deleted');
                            },
                            function () {
                                alertify.error('Cancel');
                            });
                    },
                    edit(index) {
                        this.btkUser = Object.assign({}, this.users[index]);
                        this.users[index].isDisabled = false;
                    },
                    save(index) {
                        this.users[index].isDisabled = true;
                        alertify.success('Saved!');
                    },
                    cancel(index) {
                        this.users[index] = this.btkUser;
                        this.users[index].isDisabled = true;
                    }
                }
            }).mount('#users');

            const vueHistory = Vue.createApp({
                data() {
                    return {
                        name: 'LUAライセンス対応original',
                        comments: [
                            {
                                date: '2022-11-11',
                                progress: 10,
                                status: 'in-progress',
                                person: '中',
                                comment: '現在対応中'
                            },
                            {
                                date: '2022-11-12',
                                progress: 20,
                                status: 'in-progress',
                                person: '中',
                                comment: '現在対応中2'
                            }
                        ],
                        inputComment: {
                            person: '',
                            date: dayjs(new Date()).format('YYYY-MM-DD'), // '25/01/2019',
                            progress: 0,
                            comment: ''
                        }
                    }
                },
                methods: {
                    pushComment() {
                        console.log(this.inputComment.date);
                        this.comments.unshift({
                            person: this.inputComment.person,
                            progress: this.inputComment.progress,
                            comment: this.inputComment.comment
                        });
                        this.inputComment.comment = '';
                        this.inputComment.progress = 0;
                        this.inputComment.date = dayjs(new Date()).format('YYYY-MM-DD')
                    },
                    getPersonInfo(userName) {
                        return vueUsers.users.find(tarUser => tarUser.name == userName);
                    },
                    getAllPersonInfo() {
                        return vueUsers.users;
                    }
                }
            }).mount('#history');


            const vueTasks = Vue.createApp({
                data() {
                    return {
                        tasks: [
                            {
                                name: 'LUAライセンス対応1',
                                persons: ['中', '山'],
                                periodStart: '2022-11-11',
                                periodEnd: '2022-12-12',
                                progress: 8,
                                comments: [
                                    {
                                        date: '2022-11-11',
                                        progress: 10,
                                        status: 'in-progress',
                                        person: '中',
                                        comment: '現在対応中'
                                    }
                                ]
                            },
                            {
                                name: 'LUAライセンス対応2',
                                persons: ['中', '山'],
                                periodStart: '2022-11-11',
                                periodEnd: '2022-12-12',
                                progress: 8,
                                comments: [
                                    {
                                        date: '2022-11-11',
                                        progress: 12,
                                        status: 'in-progress',
                                        person: '中',
                                        comment: '現在対応中'
                                    }
                                ]
                            },
                            {
                                name: 'LUAライセンス対応3',
                                persons: ['中', '山'],
                                periodStart: '2022-11-11',
                                periodEnd: '2022-12-12',
                                progress: 8,
                                comments: [
                                    {
                                        date: '2022-11-11',
                                        progress: 10,
                                        status: 'in-progress',
                                        person: '中',
                                        comment: '現在対応中'
                                    }
                                ]
                            },
                            {
                                name: 'LUAライセンス対応4',
                                persons: ['中', '山'],
                                periodStart: '2022-11-11',
                                periodEnd: '2022-12-12',
                                progress: 8,
                                comments: [
                                    {
                                        date: '2022-11-11',
                                        progress: 10,
                                        status: 'in-progress',
                                        person: '中',
                                        comment: '現在対応中'
                                    }
                                ]
                            }
                        ],
                        inputTask: {
                            name: '',
                            person: '',
                            periodStart: '',
                            periodEnd: ''
                        },
                        btkTask: {
                        },
                        showRegistRow: false
                    }
                },
                methods: {
                    getPersonInfo(userName) {
                        return vueUsers.users.find(tarUser => tarUser.name == userName);
                    },
                    getAllPersonInfo() {
                        return vueUsers.users;
                    },
                    registTask() {
                        this.tasks.unshift(
                            {
                                name: this.inputTask.name,
                                persons: [this.inputTask.person],
                                progress: 0,
                                comment: '',
                                periodStart: this.inputTask.periodStart,
                                periodEnd: this.inputTask.periodEnd
                            }
                        );
                        this.inputTask = {
                            name: '',
                            person: '',
                            periodStart: '',
                            periodEnd: ''
                        };
                        this.showRegistRow = false;
                    },
                    editTask(task) {
                        this.btkTask = {
                            name: task.name,
                            persons: task.persons,
                            periodStart: task.periodStart,
                            periodEnd: task.periodEnd,
                        };
                        task.isEdit = true;
                    },
                    cancelEditTask(task) {
                        task.name = this.btkTask.name;
                        task.persons = this.btkTask.persons;
                        task.periodStart = this.btkTask.periodStart;
                        task.periodEnd = this.btkTask.periodEnd;
                        task.isEdit = false;
                    },
                    showHistory(task) {
                        vueHistory.name = task.name;
                        vueHistory.comments = task.comments;
                        toggleHistory();
                    }
                },
                mounted: () => {
                    dragula([document.querySelector('#draggable')], {
                        moves: function (el, container, handle) {
                            return handle.classList.contains('handle');
                        }
                    });
                }
            }).mount('#tasks');

            vueTasks.component('blog-post', {
                props: ['title'],
                template: `<h4>{{ title }}</h4>`
            })
        });

        toggleHistory = () => {
            let content = document.querySelector('#content');
            content.classList.toggle('translate');
            toggle('#history')
        }

        toggle = (selector) => {
            let target = document.querySelector(selector);
            ['invisible', 'opacity-100', 'visible', 'opacity-0'].forEach((curClass) => {
                target.classList.toggle(curClass);
            });
        }
    </script>
</head>

<body>
    <section class="relative py-16 bg-blueGray-50">
        <div class="w-full mb-12 px-4" id="container">
            <div id="content"
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-pink-900 text-white visible transition-all duration-500 ease-out">
                <div class="flex flex-wrap items-center mb-0 px-4 py-3 border-0">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1 ">
                        <h3 class="font-semibold text-lg text-white">CC Voice</h3>
                    </div>
                </div>
                <div class="block w-full overflow-x-auto ">
                    <!-- tasks start -->
                    <table class="items-center w-full bg-transparent border-collapse" id="tasks">
                        <thead>
                            <tr>
                                <th
                                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-pink-800 text-pink-300 border-pink-700">
                                    Task
                                </th>
                                <th
                                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-pink-800 text-pink-300 border-pink-700">
                                    Person
                                </th>
                                <th
                                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-pink-800 text-pink-300 border-pink-700">
                                    period
                                </th>
                                <th
                                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-pink-800 text-pink-300 border-pink-700">
                                    Status
                                </th>
                                <th
                                    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-pink-800 text-pink-300 border-pink-700">
                                    Progress
                                </th>
                                <th
                                    class="px-6 align-middle border border-solid py-3 text-base uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-right bg-pink-800 text-pink-300 border-pink-700">
                                    <i v-if="!showRegistRow" @click="showRegistRow=true"
                                        class="cursor-pointer fa-solid fa-circle-plus"></i>
                                    <i v-if="showRegistRow" @click="showRegistRow=false"
                                        class="cursor-pointer fa-solid fa-circle-minus"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="draggable">
                            <!-- task regist row start -->
                            <tr v-show="showRegistRow">
                                <th class="border0 px-6 align-middle text-xs whitespace-nowrap p-4 text-left relative">
                                    <input type="text" class="text-gray-500 w-full" v-model="inputTask.name">
                                </th>
                                <td class="border-0 px-6 align-middle text-xs whitespace-nowrap p-4">
                                    <select class="text-base text-gray-500" v-model="inputTask.person">
                                        <option v-for="curUser in getAllPersonInfo()" :value="curUser.name">
                                            {{curUser.name }}
                                        </option>
                                    </select>
                                </td>
                                <td class="border-0 px-6 align-middle text-xs whitespace-nowrap p-4">
                                    <div class="flex items-center">
                                        <span class="ml-2">
                                            <input type="date" class="text-gray-500" v-model="inputTask.periodStart">
                                            -
                                            <input type="date" class="text-gray-500" v-model="inputTask.periodEnd">
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    status
                                </td>
                                <td class="border-0 px-6 align-middle text-xs whitespace-nowrap p-4">
                                    <div class="flex items-center">
                                        <span class="mr-2">0%</span>
                                        <div class="relative w-full">
                                            <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                                                <div style="width:0%"
                                                    class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-0 px-6 align-middle text-2xs whitespace-nowrap py-5 text-right">
                                    <button @click="registTask()">PUSH</button>
                                </td>
                            </tr>
                            <!-- task regist row end -->
                            <!-- task ref row start -->
                            <tr v-for="(task,index) in tasks">
                                <th v-show="!task.isEdit"
                                    class="border0 px-6 align-middle text-xs whitespace-nowrap p-4 text-left relative">
                                    <i
                                        class="handle h-4 w-4 absolute left-2 top-2 cursor-move fa-solid fa-grip-vertical"></i>
                                    <span class="font-bold text-white">
                                        {{ task.name }}
                                    </span>
                                </th>
                                <th v-show="task.isEdit"
                                    class="border0 px-6 align-middle text-xs whitespace-nowrap p-4 text-left relative">
                                    <input type="text" class="text-gray-500 w-full" v-model="task.name">
                                </th>
                                <td v-show="!task.isEdit"
                                    class="border-0 px-6 align-middle text-xs whitespace-nowrap p-4">
                                    <div class="flex items-center">
                                        <span v-for="(person,index) in task.persons">
                                            <div v-if="getPersonInfo(person)" :class="(index > 0)?' -ml-2':''"
                                                class="h-6 w-6 rounded-full bg-white flex justify-center items-center"
                                                :style="'background-color: ' + getPersonInfo(person).bg_color">
                                                <span class="text-xl"
                                                    :style="'color: ' + getPersonInfo(person).txt_color">
                                                    {{ getPersonInfo(person).name }}
                                                </span>
                                            </div>
                                        </span>
                                    </div>
                                </td>
                                <td v-show="task.isEdit"
                                    class="border-0 px-6 align-middle text-xs whitespace-nowrap p-4">
                                    <select class="select-language text-gray-500" size="3" v-model="task.persons"
                                        multiple>
                                        <option v-for="curUser in getAllPersonInfo()" v-bind:value="curUser.name">
                                            {{ curUser.name }}
                                        </option>
                                    </select>
                                </td>
                                <td v-if="!task.isEdit"
                                    class="border-0 px-6 align-middle text-xs whitespace-nowrap p-4">
                                    {{ task.periodStart }} - {{ task.periodEnd }}
                                </td>
                                <td v-show="task.isEdit"
                                    class="border-0 px-6 align-middle text-xs whitespace-nowrap p-4">
                                    <div class="flex items-center">
                                        <span class="ml-2">
                                            <input type="date" class="text-gray-500" v-model="task.periodStart">
                                            -
                                            <input type="date" class="text-gray-500" v-model="task.periodEnd">
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    status
                                </td>
                                <td class="border-0 px-6 align-middle text-xs whitespace-nowrap p-4">
                                    <div class="flex items-center">
                                        <span class="mr-2">{{ task.comments?task.comments[0].progress:'0' }}%</span>
                                        <div class="relative w-full">
                                            <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                                                <div :style="{ width: (task.comments?task.comments[0].progress:'0') + '%' }"
                                                    class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td v-show="!task.isEdit"
                                    class="border-0 px-6 align-middle text-2xs whitespace-nowrap py-5 text-right">
                                    <i @click="showHistory(task)"
                                        class="cursor-pointer fa-solid fa-clock-rotate-left"></i>
                                    <i @click="editTask(task)"
                                        class="cursor-pointer ml-4 fa-solid fa-pen-to-square"></i>
                                </td>
                                <td v-show="task.isEdit"
                                    class="border-0 px-6 align-middle text-2xs whitespace-nowrap py-5 text-right">
                                    <i @click="task.isEdit = false" class="cursor-pointer fa-solid fa-floppy-disk"></i>
                                    <i @click="cancelEditTask(task)"
                                        class="cursor-pointer ml-4 fa-solid fa-rectangle-xmark"></i>
                                </td>
                            </tr>
                            <!-- task ref row end -->
                        </tbody>
                    </table>
                    <!-- tasks end -->
                </div>
            </div>
        </div>
    </section>

    <footer class="flex justify-end fixed w-screen bottom-12">
        <button onclick="toggle('#users')"
            class="mr-8 border-t-2 border-b-2 border-black hover:border-gray-300 hover:text-gray-600 px-1">
            <i class="fa-solid fa-user"></i>
            <span class="ml-2">PERSON</span>
        </button>
    </footer>

    <div id="users"
        class="w-screen h-screen bg-gray-100/90 px-10 pt-10 fixed top-0 left-0 overflow-scroll transition-opacity duration-200 opacity-0 invisible transition-all">
        <div class="absolute top-4 right-4  cursor-pointer" onclick="toggle('#users')">
            <i class="fa-solid fa-circle-xmark text-4xl"></i>
        </div>
        <div class="container mx-auto">
            <div role="list" aria-label="Behind the scenes People "
                class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around">
                <div role="listitem"
                    class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                    <div class="rounded overflow-hidden shadow-md bg-white">
                        <div class="absolute -mt-20 w-full flex justify-center ">
                            <div class="h-32 w-32 rounded-full flex justify-center items-center"
                                :style="'background-color: ' + user.bg_color">
                                <span class="text-7xl" :style="'color: ' + user.txt_color">{{ user.name }}</span>
                            </div>
                        </div>
                        <div class="px-6 mt-16">
                            <div class="mb-4">
                                <label>
                                    <div class="block text-gray-700 text-sm font-bold mb-2">
                                        Username
                                    </div>
                                    <input
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        type="text" placeholder="Username" maxlength="1" v-model="user.name">
                                </label>
                            </div>
                            <div class="mb-4 flex flex-row">
                                <div class="flex-1">
                                    <label>
                                        <div class="block text-gray-700 text-sm font-bold mb-2">Text Color</div>
                                        <input type="color" name="head" v-model="user.txt_color">
                                    </label>
                                </div>
                                <div class="flex-1">
                                    <label>
                                        <div class="block text-gray-700 text-sm font-bold mb-2">BG Color</div>
                                        <input type="color" name="head" v-model="user.bg_color">
                                    </label>
                                </div>
                            </div>
                            <div class="w-full flex justify-center pt-5 pb-5">
                                <button @click="regist"
                                    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                    SAVE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="listitem" v-for="(tarUser,index) in users"
                    class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                    <div class="rounded overflow-hidden shadow-md bg-white">
                        <div class="absolute -mt-20 w-full flex justify-center">
                            <div class="h-32 w-32 rounded-full bg-white flex justify-center items-center"
                                :style="'background-color: ' + tarUser.bg_color">
                                <span class="text-7xl" :style="'color: ' + tarUser.txt_color">{{ tarUser.name }}</span>
                            </div>
                        </div>
                        <div class="px-6 mt-16">
                            <div class="mb-4">
                                <label>
                                    <div class="text-gray-700 text-sm font-bold mb-2">Username</div>
                                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight 
                                                focus:outline-none focus:shadow-outline 
                                                disabled:bg-slate-300 disabled:text-slate-500" type="text"
                                        placeholder="Username" v-model="tarUser.name" maxlength="1"
                                        :disabled=tarUser.isDisabled>
                                </label>
                            </div>
                            <div class="mb-4 flex flex-row">
                                <div class="flex-1">
                                    <label>
                                        <div class="text-gray-700 text-sm font-bold mb-2">Text Color</div>
                                        <input type="color" v-model="tarUser.txt_color"
                                            class="disabled:bg-slate-300 disabled:text-slate-500"
                                            :disabled="tarUser.isDisabled">
                                    </label>
                                </div>

                                <div class="flex-1">
                                    <label>
                                        <div class="text-gray-700 text-sm font-bold mb-2">BG Color</div>
                                        <input type="color" v-model="tarUser.bg_color"
                                            class="disabled:bg-slate-300 disabled:text-slate-500"
                                            :disabled="tarUser.isDisabled">
                                    </label>
                                </div>
                            </div>
                            <div class="w-full flex justify-center pt-5 pb-5 gap-x-4">
                                <button @click="edit(index)" v-show="tarUser.isDisabled"
                                    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                    EDIT
                                </button>
                                <button @click="del(index)" v-show="tarUser.isDisabled"
                                    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                    DELETE
                                </button>
                                <button @click="save(index)" v-show="!tarUser.isDisabled"
                                    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                    SAVE
                                </button>
                                <button @click="cancel(index)" v-show="!tarUser.isDisabled"
                                    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                    CANCEL
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div id="history" onclick="toggleHistory()"
        class="fixed top-0 left-0 w-screen h-screen bg-gray-400/70 duration-500 ease-out invisible opacity-0">

        <div class=" px-5 flex flex-col justify-between">

            <div class="flex flex-col mt-5  ml-32 mr-32" onclick="event.stopPropagation()">
                <h1>{{ name }}</h1>
                <div class="flex justify-start mb-4 items-center">

                    <select class="text-base text-gray-500" v-model="inputComment.person">
                        <option v-for="curUser in getAllPersonInfo()" :value="curUser.name">
                            {{curUser.name }}
                        </option>
                    </select>

                    <div
                        class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white w-full">
                        <div class="">
                            <input class="bg-gray-300 py-2 px-3 rounded-xl" type="date" v-model="inputComment.date" />
                        </div>
                        <div class="flex items-center mt-4">
                            <span class="mr-2">
                                <input class="bg-gray-300" type="number" min="0" max="100"
                                    v-model="inputComment.progress">
                            </span>
                            <span>%</span>
                            <div class="w-full ml-4">
                                <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                                    <div style="width:20%"
                                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <textarea class="mt-4 w-full bg-gray-300 py-5 px-3 rounded-xl" type="text"
                            placeholder="type your message here..." v-model="inputComment.comment"></textarea>
                        <div class="text-right">
                            <button class="mr-8" @click="pushComment">push</button>
                        </div>
                    </div>
                </div>
                <div class="flex justify-start mb-4" v-for="curComment in comments">
                    <div v-if="getPersonInfo(curComment.person)"
                        class="h-6 w-6 rounded-full bg-white flex justify-center items-center"
                        :style="'background-color: ' + getPersonInfo(curComment.person).bg_color">
                        <span class="text-xl" :style="'color: ' + getPersonInfo(curComment.person).txt_color">
                            {{ getPersonInfo(curComment.person).name }}
                        </span>
                    </div>
                    <div
                        class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white w-full">
                        <div>{{ curComment.date }}</div>
                        <div class="flex items-center">
                            <span class="mr-2">{{ curComment.progress }}%</span>
                            <div class="relative w-full">
                                <div class="overflow-hidden h-2 text-xs flex rounded bg-red-200">
                                    <div :style="{width: curComment.progress +'%'}"
                                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>{{ curComment.comment }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>