<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"
        integrity="sha512-bwD3VD/j6ypSSnyjuaURidZksoVx3L1RPvTkleC48SbHCZsemT3VKMD39KknPnH728LLXVMTisESIBOAb5/W0Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"
        integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css"
        integrity="sha512-IXuoq1aFd2wXs4NqGskwX2Vb+I8UJ+tGJEu/Dc0zwLNKeQ7CW3Sr6v0yU3z5OQWe3eScVIkER4J9L7byrgR/fA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
        let vueTasks;
        window.addEventListener('DOMContentLoaded', (event) => {

            vueTasks = Vue.createApp({
                data() {
                    return {
                        title: 'CC-Voice',
                        tasks: [],
                        showEditPersons: false,
                        persons: [],
                        status: [
                            {
                                name: 'Active',
                                txt_color: 'text-sky-900',
                                bg_color: 'bg-sky-200'
                            },
                            {
                                name: 'Inactive',
                                txt_color: 'text-pink-900',
                                bg_color: 'bg-pink-200'
                            },
                            {
                                name: 'Completed',
                                txt_color: 'text-stone-900',
                                bg_color: 'bg-stone-200'
                            }
                        ],
                        priority: [
                            {
                                name: 'VH',
                                txt_color: 'text-red-900',
                                bg_color: 'bg-red-200'
                            },
                            {
                                name: 'H',
                                txt_color: 'text-pink-900',
                                bg_color: 'bg-pink-200'
                            },
                            {
                                name: 'N',
                                txt_color: 'text-stone-900',
                                bg_color: 'bg-stone-200'
                            },
                            {
                                name: 'L',
                                txt_color: 'text-stone-900',
                                bg_color: 'bg-stone-200'
                            },
                            {
                                name: 'VL',
                                txt_color: 'text-stone-900',
                                bg_color: 'bg-stone-200'
                            }
                        ]
                    }
                },
                methods: {
                    addTask() {
                        this.tasks.unshift(
                            {
                                name: '',
                                persons: [],
                                periodStart: dayjs(new Date()).format('YYYY-MM-DD'),
                                periodEnd: dayjs(new Date()).format('YYYY-MM-DD'),
                                comments: [
                                    {
                                        date: dayjs(new Date()).format('YYYY/MM/DD'),
                                        progress: 0,
                                        status: this.status[0].name,
                                        person: '',
                                        comment: ''
                                    }
                                ],
                                inputTask: {}
                            }
                        );
                    },
                    editTask(task, flagname) {
                        task.inputTask.name = task.name;
                        task.inputTask.persons = task.persons;
                        task.inputTask.priority = task.priority;
                        task.inputTask.periodStart = task.periodStart;
                        task.inputTask.periodEnd = task.periodEnd;
                        task.inputTask[flagname] = true;
                    },
                    cancelEditTask(task, flagname) {
                        task.inputTask[flagname] = false;
                        alertify.error('Canceled');
                    },
                    editedTask(task, flagname) {
                        task.name = task.inputTask.name;
                        task.persons = task.inputTask.persons;
                        task.priority = task.inputTask.priority;
                        task.periodStart = task.inputTask.periodStart;
                        task.periodEnd = task.inputTask.periodEnd;
                        task.inputTask[flagname] = false;
                        alertify.success('Edited!');
                    },
                    deletedTask(index) {
                        const tarTasks = this.tasks;
                        alertify.confirm('', `Are you sure you want delete ${tarTasks[index].name} ?`,
                            function () {
                                tarTasks.splice(index, 1);
                                alertify.success('Deleted');
                            },
                            function () {
                                alertify.error('Canceled');
                            });
                    },
                    format(curDate) {
                        return dayjs(curDate).format('YYYY/MM/DD')
                    },
                    getObject(tarData, userName) {
                        return tarData.find(tarUser => tarUser.name == userName);
                    }
                },
                created: function () {
                    this.$data.tasks.forEach(curTask => curTask.inputTask = {});
                    document.title = this.title;
                }
            });
            vueTasks.component('selected-persons', {
                template: `#selected-persons`,
                props: {
                    curtask: Object,
                    persons: Object,
                }
            });
            vueTasks.component('selected-priority', {
                template: `#selected-priority`,
                props: {
                    curtask: Object,
                    priority: Object,
                }
            });
            vueTasks.component('edit-persons', {
                template: `#edit-persons`,
                props: {
                    persons: Object
                },
                methods: {
                    changePersonColor(tarPerson, tarColor) {
                        tarPerson.bg_color = 'bg-' + tarColor + '-200';
                        tarPerson.txt_color = 'text-' + tarColor + '-900';
                    },
                    inputPerson(persons) {
                        alertify.prompt('New Person', 'input 1 character', ''
                            , function (evt, value) {
                                if (value && value.trim()) {
                                    persons.unshift({
                                        name: value.trim().slice(0, 1),
                                        txt_color: 'text-slate-900',
                                        bg_color: 'bg-slate-200',
                                        disabled: false
                                    });
                                    alertify.success('Added');
                                    return;
                                }
                                alertify.error('Canceled');
                            }
                            , function () { alertify.error('Cancel') });
                    }
                }
            });
            vueTasks.component('comment-list', {
                template: `#comment-list`,
                props: {
                    curtask: Object,
                    persons: Object,
                    status: Object
                },
                data() {
                    return {
                        inputComment: {
                            date: '',
                            progress: 0,
                            status: '',
                            person: '',
                            comment: '',
                        }
                    }
                },
                methods: {
                    getObject(tarData, userName) {
                        return tarData.find(tarUser => tarUser.name == userName);
                    },
                    format(curDate) {
                        return dayjs(curDate).format('YYYY/MM/DD')
                    },
                    registComment() {
                        this.curtask.comments.push({
                            date: this.inputComment.date,
                            progress: this.inputComment.progress,
                            status: this.inputComment.status,
                            person: this.inputComment.person,
                            comment: this.inputComment.comment,
                        });
                        this.inputComment.comment = '';
                        alertify.success('Commented');
                    }
                },
                mounted() {
                    this.inputComment.date = dayjs(new Date()).format('YYYY-MM-DD');
                    this.inputComment.progress = this.curtask.comments[this.curtask.comments.length - 1].progress;
                    this.inputComment.status = this.curtask.comments[this.curtask.comments.length - 1].status;
                    this.inputComment.person = this.curtask.comments[this.curtask.comments.length - 1].person;
                }
            });
            vueTasks = vueTasks.mount('#tasks');

            const tarBody = document.querySelector('body');
            tarBody.addEventListener("drop", (event) => {
                event.preventDefault();
                let reader = new FileReader();
                reader.onload = function (event) {
                    savedData = JSON.parse(event.target.result);

                    document.title = savedData.title;
                    //vueTasks.$data.status = savedData.status;
                    vueTasks.$data.persons = savedData.persons;
                    savedData.tasks.forEach(curTask => curTask.inputTask = {});
                    vueTasks.$data.tasks = savedData.tasks;
                };
                reader.readAsText(event.dataTransfer.files[0]);
            });
            tarBody.addEventListener("dragover", (event) => {
                event.preventDefault();
            });
        });

        function save() {
            let taskData = _.cloneDeep(vueTasks.$data);
            //delete unnecessary property
            taskData.tasks.forEach((curTask) => {
                delete curTask.inputTask;
            })
            delete tasks.showEditPersons;
            delete tasks.status;

            let blob = new Blob([JSON.stringify(taskData, null, 2)], { type: "text/json;charset=utf-8" });
            saveAs(blob, 'tmt.json');
        }
    </script>

    <!-- select person component start-->
    <script type="text/x-template" id="selected-persons">
        <aside @click="$emit('close')"
            class="block flex justify-center items-center
                fixed top-0 left-0 w-screen h-screen bg-gray-400/70 duration-500 ease-out z-50">
        <div onclick="event.stopPropagation()"
            class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
                    Select Persons
                </h3>
                <i class="cursor-pointer ml-4 fa-solid fa-rectangle-xmark text-stone-400 hover:text-stone-900" @click="$emit('close')"></i>
                <i class="cursor-pointer ml-2 fa-solid fa-floppy-disk text-stone-400 hover:text-stone-900" @click="$emit('editedtask',curtask)"></i>
            </div>
            <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    <li v-for="curPerson in persons" class="py-3 sm:py-4">
                        <label class="block flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <div class="h-8 w-8 rounded-full bg-white flex justify-center items-center"
                                    :class="curPerson.bg_color">
                                    <span class="text-xl" :class="curPerson.txt_color">
                                        {{ curPerson.name }}
                                    </span>
                                </div>
                            </div>
                            <div
                                class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                <input type="checkbox" :value="curPerson.name" v-model="curtask.inputTask.persons"/>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    </script>
    <!-- select person component end-->

    <!-- select priority component start-->
    <script type="text/x-template" id="selected-priority">
        <aside @click="$emit('close')"
            class="block flex justify-center items-center
                fixed top-0 left-0 w-screen h-screen bg-gray-400/70 duration-500 ease-out z-50">
        <div onclick="event.stopPropagation()"
            class="p-4 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
                    Select Priority
                </h3>
                <i class="cursor-pointer ml-4 fa-solid fa-rectangle-xmark text-stone-400 hover:text-stone-900" @click="$emit('close')"></i>
                <i class="cursor-pointer ml-2 fa-solid fa-floppy-disk text-stone-400 hover:text-stone-900" @click="$emit('editedtask',curtask)"></i>
            </div>
            <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                    <li v-for="curPriority in priority" class="py-3 sm:py-4">
                        <label class="block flex items-center space-x-4">
                            <div class="flex-shrink-0">
                                <div class="h-8 w-8 rounded-full bg-white flex justify-center items-center"
                                    :class="curPriority.bg_color">
                                    <span class="text-xl" :class="curPriority.txt_color">
                                        {{ curPriority.name }}
                                    </span>
                                </div>
                            </div>
                            <div
                                class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                <input type="radio" :value="curPriority.name" v-model="curtask.inputTask.priority"/>
                            </div>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    </script>
    <!-- select priority component end-->


    <!-- edit persons component start -->
    <script type="text/x-template" id="edit-persons">
        <aside @click="$emit('close')"
            class="block flex justify-center items-center
                fixed top-0 left-0 w-screen h-screen bg-gray-400/70 duration-500 ease-out z-50">
            <div class="px-3 py-4 flex justify-center" >
                <table class="w-full text-md bg-white shadow-md rounded mb-4" onclick="event.stopPropagation()">
                    <tbody>
                        <tr class="border-b">
                            <th class="text-left p-3 px-5">Icon</th>
                            <th class="text-left p-3 px-5">Color</th>
                            <th><i class="mx-8 cursor-pointer text-lg fa-solid fa-user-plus  text-stone-400 hover:text-stone-900" @click="inputPerson(persons)"></i></th>
                        </tr>
                        <tr v-for="curPerson in persons" class="border-b hover:bg-red-100 bg-gray-100">
                            <td class="p-3 px-5">
                                <div 
                                    class="h-6 w-6 rounded-full bg-white text-sm flex justify-center items-center"
                                    :class="[curPerson.bg_color, curPerson.txt_color]">
                                    {{ curPerson.name }}
                                </div>
                            </td>
                            <td class="p-3 px-5">
                                <select class="bg-transparent" @input="changePersonColor(curPerson,$event.target.value)" :value="curPerson.bg_color.replace('bg-','').replace('-200','')">
                                    <option v-for="curColor in ['slate','gray','zinc','neutral','stone','red','orange','amber','yellow'
                                        ,'lime','green','emerald','teal','cyan','sky','blue','indigo','violet','purple','fuchsia','pink','rose'] " 
                                        :class="'bg-' + curColor + '-200'"
                                        :value="curColor">
                                        {{ curColor }}
                                    </option>
                                </select>
                            </td>
                            <td class="p-3 px-5 flex justify-end">
                                <button @click="curPerson.disabled = !curPerson.disabled"
                                    type="button"
                                    class="text-sm text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
                                    :class="{'bg-red-500':!curPerson.disabled, 'bg-slate-500': curPerson.disabled}">
                                    {{ curPerson.disabled?'Disabled':'Active' }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </aside>
    </script>
    <!-- edit persons component end -->
    <!-- comments list component start -->
    <script type="text/x-template" id="comment-list">
    <aside @click="$emit('close')"
            class="flex h-screen antialiased text-gray-800
                    block flex justify-center items-center
                    fixed top-0 left-0 w-screen h-screen bg-gray-400/90 duration-500 ease-out z-50">
        <div class="flex flex-col flex-auto h-full p-6">
            <div class="flex flex-col h-full overflow-x-auto mb-4">
                <div class="flex flex-col h-full">
                    <div class="grid grid-cols-12 gap-y-2">
                        <div v-for="curComment in curtask.comments" class="p-3 rounded-lg"
                                :class="{'col-start-1 col-end-8': curtask.persons.includes(curComment.person), 'col-start-6 col-end-13': !curtask.persons.includes(curComment.person)}">
                            <div v-if="curtask.persons.includes(curComment.person)" class="flex flex-row items-center" onclick="event.stopPropagation()">
                                <div 
                                    class="flex items-center justify-center h-10 w-10 rounded-full flex-shrink-0"
                                    :class="[getObject(persons,curComment.person).bg_color,getObject(persons,curComment.person).txt_color]">
                                    {{ curComment.person }}
                                </div>
                                <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl flex flex-col">
                                    <div class="flex flex-row">
                                        <div class="text-slate-700">
                                            {{ format(curComment.date) }}
                                        </div>
                                        <div class="ml-4 w-64 bg-slate-200 rounded-full">
                                            <div class="bg-amber-200 h-full text-xs font-medium text-amber-900 text-center p-0.5 leading-none rounded-full flex items-center"
                                                    :style="{ width: (curComment.progress) + '%' }">
                                                    {{ curComment.progress }}%
                                            </div>
                                        </div>
                                        <span class="ml-4 relative w-20 text-center inline-block px-3 py-1 font-semibold leading-tight"
                                                :class="getObject(status,curComment.status).txt_color">
                                            <span aria-hidden class="absolute inset-0 opacity-50 rounded-full"
                                                    :class="getObject(status,curComment.status).bg_color"></span>
                                            <span class="relative">{{ curComment.status }}</span>
                                        </span>
                                    </div>
                                    <div class="py-2">{{ curComment.comment }}</div>
                                </div>
                            </div>
                            <div v-else class="flex items-center justify-start flex-row-reverse py-8" onclick="event.stopPropagation()">
                                <div
                                    class="flex items-center justify-center h-10 w-10 rounded-full flex-shrink-0"
                                    :class="[getObject(persons,curComment.person)?getObject(persons,curComment.person).bg_color:'',getObject(persons,curComment.person)?getObject(persons,curComment.person).txt_color:'']">
                                    {{ curComment.person }}
                                </div>
                                <div class="relative mr-3 text-sm bg-zinc-100 py-2 px-4 shadow rounded-xl flex flex-col">
                                    <div class="flex flex-row">
                                        <div class="text-slate-700">
                                            {{ format(curComment.date) }}
                                        </div>
                                        <div class="ml-4 w-64 bg-slate-200 rounded-full">
                                            <div class="bg-amber-200 h-full text-xs font-medium text-amber-900 text-center p-0.5 leading-none rounded-full flex items-center"
                                                :style="{ width: (curComment.progress) + '%' }">
                                                {{ curComment.progress }}%
                                            </div>
                                        </div>
                                        <span class="ml-4 relative w-20 text-center inline-block px-3 py-1 font-semibold leading-tight"
                                                :class="getObject(status,curComment.status).txt_color">
                                            <span aria-hidden class="absolute inset-0 opacity-50 rounded-full"
                                                :class="getObject(status,curComment.status).bg_color"></span>
                                            <span class="relative">{{ curComment.status }}</span>
                                        </span>
                                    </div>
                                    <div class="py-2">{{ curComment.comment }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-center h-24 rounded-xl bg-white px-8 py-8 mx-16" onclick="event.stopPropagation()">
                <div>
                    <select class="w-12 h-6 border border-gray-600 rounded-xl" v-model="inputComment.person">
                        <option v-for="curPerson in persons" :value="curPerson.name" :class="[getObject(persons,curPerson.name).bg_color, getObject(persons,curPerson.name).txt_color]">
                            {{ curPerson.name }}
                        </option>
                    </select>
                </div>
                <div class="flex-grow p-4 flex flex-col">
                    <div class="flex flex-row my-2">
                        <input type="date" v-model="inputComment.date" class="w-36 indent-1 border border-gray-600 rounded-xl">
                        <div class="ml-4 w-64 bg-gray-100 rounded-full">
                            <div class="bg-amber-200 text-xs h-full font-medium text-amber-900 text-center p-0.5 leading-none rounded-full flex items-center"
                                :style="{ width: (inputComment.progress) + '%' }">
                                <input type="number" min="0" max="100" v-model="inputComment.progress" class="w-10 ml-2 border indent-1 border-gray-700 rounded-xl">%
                            </div>
                        </div>
                        <select v-model="inputComment.status" class="ml-4 border border-gray-600 rounded-xl">
                            <option v-for="curStatus in status" :value="curStatus.name">{{ curStatus.name }}</option>
                        </select>
                    </div>
                    <div class="relative w-full">
                        <textarea v-model="inputComment.comment"
                            class="w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10 border border-gray-600 rounded-xl" />
                    </div>
                </div>
                <div class="ml-4">
                    <button @click="registComment()"
                        class="flex items-center justify-center bg-indigo-400 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0">
                        <span>Send</span>
                        <span class="ml-2">
                            <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </aside>
    </script>
    <!-- comments list component end -->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body class="antialiased font-sans bg-gray-200">
    <main class="container mx-auto px-4 sm:px-8 py-8" id="tasks" v-cloak>
        <h2 class="text-2xl font-semibold leading-tight">{{ title }}</h2>
        <div class="my-2 flex flex-row items-stretch">
            <div class="flex flex-row mb-0">
                <div>
                    <select class=" h-full block
                        rounded-l border  rounded-r-none border-r-0
                        bg-white overflow-hidden
                        border-gray-400 text-gray-700 
                        py-2 px-4 pr-8 leading-tight 
                        focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                        <option v-for="curStatus in status">{{ curStatus.name }}</option>
                    </select>
                </div>
            </div>
            <div class="relative ">
                <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                    <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                        <path
                            d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                        </path>
                    </svg>
                </span>
                <input placeholder="Search" class="appearance-none block w-full h-full
                        rounded-l-none 
                        border border-gray-400 border-b 
                        pl-8 pr-6 py-2 
                        bg-white text-sm placeholder-gray-400 text-gray-700 
                        focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
            </div>
            <div class="ml-auto">
                <!-- person edit button -->
                <div @click="showEditPersons = true"
                    class="cursor-pointer w-10 h-10 rounded-full border border-stone-400 text-stone-400 hover:text-stone-900 flex items-center justify-center">
                    <i class="fa-solid fa-user-plus"></i>
                </div>
            </div>
        </div>
        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
            <table class="min-w-full leading-normal table-fixed">
                <thead>
                    <tr>
                        <th
                            class="px-5 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider w-80">
                            Task
                        </th>
                        <th
                            class="px-5 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider group relative">
                            Priority
                            <i class="cursor-pointer absolute top-2 right-8
                            group-hover:visible invisible
                            fa-solid fa-sort-up text-stone-400 hover:text-stone-900"></i>
                            <i class="cursor-pointer absolute top-2 right-4
                            group-hover:visible invisible
                            fa-solid fa-sort-down text-stone-400 hover:text-stone-900"></i>
                        </th>
                        <th
                            class="px-5 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Supervisor
                        </th>
                        <th
                            class="px-5 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider w-80">
                            Period
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Status
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Progress
                        </th>
                        <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            <!-- add task button -->
                            <i class="cursor-pointer text-lg fa-solid fa-square-plus text-stone-400 hover:text-stone-900"
                                @click="addTask()"></i>
                        </th>
                    </tr>
                </thead>
                <tbody is="vue:transition-group" enter-active-class="duration-500 ease-out"
                    enter-from-class="transform opacity-0 bg-orange-100	scale-y-0"
                    enter-to-class="opacity-100 bg-white scale-y-100"
                    leave-active-class="duration-500 ease-in overflow-hidden" leave-from-class="opacity-100 scale-y-100"
                    leave-to-class="transform opacity-0 scale-y-0">
                    <tr v-for="(curTask, index) in tasks" :key="curTask">
                        <!-- taskaname ref-->
                        <td v-show="!curTask.inputTask.isEditTaskname" :title="curTask.name"
                            class="px-5 border-b border-gray-200 bg-white text-sm group relative">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ curTask.name }}
                            </p>
                            <!-- edit task name button -->
                            <i @click="editTask(curTask, 'isEditTaskname')" class="cursor-pointer absolute top-2 right-4
                                        group-hover:visible invisible
                                        fa-solid fa-pen-to-square text-stone-400 hover:text-stone-900"></i>
                        </td>
                        <!-- taskaname edit-->
                        <td v-show="curTask.inputTask.isEditTaskname"
                            class="px-5 border-b border-gray-200 bg-white text-sm relative">
                            <input class="shadow appearance-none border rounded w-full text-gray-700 
                                            focus:outline-none focus:shadow-md" v-model="curTask.inputTask.name"
                                type="text" placeholder="taskname">
                            <div class="flex absolute top-2 right-4 text-base">
                                <!-- task name cancel & edit button -->
                                <i @click="cancelEditTask(curTask, 'isEditTaskname')"
                                    class="cursor-pointer fa-solid fa-rectangle-xmark text-stone-400 hover:text-stone-900"></i>
                                <i @click="editedTask(curTask, 'isEditTaskname')"
                                    class="cursor-pointer ml-2 fa-solid fa-floppy-disk text-stone-400 hover:text-stone-900"></i>
                            </div>
                        </td>
                        <!-- priority ref -->
                        <td class="px-5 border-b border-gray-200 bg-white text-sm group relative">
                            <span v-if="getObject(priority, curTask.priority)"
                                class="relative w-28 inline-block px-3 py-1 font-semibold leading-tight"
                                :class="getObject(priority, curTask.priority).txt_color">
                                <span aria-hidden class="absolute inset-0 opacity-50 rounded-full"
                                    :class="getObject(priority, curTask.priority).bg_color"></span>
                                <span class="relative">{{ curTask.priority }}</span>
                            </span>
                            <!-- edit priority button -->
                            <i @click="editTask(curTask, 'isEditTaskPriority')" class="cursor-pointer absolute top-2 right-4
                                        group-hover:visible invisible
                                        fa-solid fa-pen-to-square text-stone-400 hover:text-stone-900"></i>
                            <transition enter-active-class="duration-200 ease-out "
                                enter-from-class="transform opacity-0" enter-to-class="opacity-100"
                                leave-active-class="duration-200 ease-in" leave-from-class="opacity-100"
                                leave-to-class="transform opacity-0">
                                <selected-priority v-show="curTask.inputTask.isEditTaskPriority" :priority="priority"
                                    :curtask="curTask" @close="cancelEditTask(curTask, 'isEditTaskPriority')"
                                    @editedtask="editedTask($event,'isEditTaskPriority')" />
                            </transition>
                        </td>
                        <!-- persons ref -->
                        <td class="px-5 border-b border-gray-200 bg-white text-sm group relative">
                            <div class="flex items-center">
                                <span v-for="(curPerson,index) in curTask.persons">
                                    <div v-if="getObject(persons, curPerson)"
                                        class="h-6 w-6 rounded-full bg-white text-sm flex justify-center items-center"
                                        :class="[{'-ml-2': (index > 0)},getObject(persons, curPerson).bg_color,getObject(persons, curPerson).txt_color]">
                                        {{ getObject(persons, curPerson).name }}
                                    </div>
                                </span>
                            </div>
                            <!-- edit person button -->
                            <i @click="editTask(curTask, 'isEditTaskPersons')" class="cursor-pointer absolute top-2 right-4
                                        group-hover:visible invisible
                                        fa-solid fa-pen-to-square text-stone-400 hover:text-stone-900"></i>

                            <transition enter-active-class="duration-200 ease-out "
                                enter-from-class="transform opacity-0" enter-to-class="opacity-100"
                                leave-active-class="duration-200 ease-in" leave-from-class="opacity-100"
                                leave-to-class="transform opacity-0">
                                <selected-persons v-show="curTask.inputTask.isEditTaskPersons" :persons="persons"
                                    :curtask="curTask" @close="cancelEditTask(curTask, 'isEditTaskPersons')"
                                    @editedtask="editedTask($event,'isEditTaskPersons')" />
                            </transition>
                        </td>
                        <!-- period ref-->
                        <td v-show="!curTask.inputTask.isEditPeriod"
                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm group relative">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ format(curTask.periodStart) }} - {{ format(curTask.periodEnd) }}
                            </p>
                            <!-- edit period button -->
                            <i @click="editTask(curTask, 'isEditPeriod')" class="cursor-pointer absolute top-2 right-4
                                        group-hover:visible invisible
                                        fa-solid fa-pen-to-square text-stone-400 hover:text-stone-900"></i>
                        </td>
                        <!-- period edit-->
                        <td v-show="curTask.inputTask.isEditPeriod"
                            class="px-5 py-5 border-b border-gray-200 bg-white text-sm relative whitespace-no-wrap">
                            <input class="shadow appearance-none border roundedtext-gray-700 w-32 appearance-none
                                            focus:outline-none focus:shadow-md" v-model="curTask.inputTask.periodStart"
                                type="date" placeholder="taskname">
                            -
                            <input class="shadow appearance-none border rounded text-gray-700 w-32
                                        focus:outline-none focus:shadow-md" v-model="curTask.inputTask.periodEnd"
                                type="date" placeholder="taskname">
                            <div class="flex absolute top-2 right-4 text-base">
                                <!-- period cancel & save button-->
                                <i @click="cancelEditTask(curTask, 'isEditPeriod')"
                                    class="cursor-pointer fa-solid fa-rectangle-xmark text-stone-400 hover:text-stone-900"></i>
                                <i @click="editedTask(curTask, 'isEditPeriod')"
                                    class="cursor-pointer ml-2 fa-solid fa-floppy-disk text-stone-400 hover:text-stone-900"></i>
                            </div>
                        </td>
                        <!-- status ref-->
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <span class="relative w-28 inline-block px-3 py-1 font-semibold leading-tight"
                                :class="getObject(status,curTask.comments[curTask.comments.length-1].status).txt_color">
                                <span aria-hidden class="absolute inset-0 opacity-50 rounded-full"
                                    :class="getObject(status,curTask.comments[curTask.comments.length-1].status).bg_color"></span>
                                <span class="relative">{{ curTask.comments[curTask.comments.length-1].status }}</span>
                            </span>
                        </td>
                        <!-- progress ref-->
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div class="w-full bg-gray-100 rounded-full">
                                <div class="bg-amber-200 text-xs font-medium text-amber-900 text-center p-0.5 leading-none rounded-full"
                                    :style="{ width: (curTask.comments[curTask.comments.length-1].progress) + '%' }">
                                    {{ curTask.comments[curTask.comments.length-1].progress }}%
                                </div>
                            </div>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div class="flex flex-row">
                                <!-- comment history button -->
                                <i @click="curTask.comments.showComments = true"
                                    class="cursor-pointer fa-solid fa-clock-rotate-left  text-stone-400 hover:text-stone-900"></i>
                                <!-- delete button -->
                                <i @click="deletedTask(index)"
                                    class="ml-4 cursor-pointer fa-solid fa-trash-can text-stone-400 hover:text-stone-900"></i>
                            </div>

                            <transition enter-active-class="duration-300 ease-out "
                                enter-from-class="transform opacity-0 skew-x-3" enter-to-class="opacity-100 skew-x-0"
                                leave-active-class="duration-200 ease-in" leave-from-class="opacity-100 skew-x-0"
                                leave-to-class="transform opacity-0 skew-x-3">
                                <comment-list v-show="curTask.comments.showComments" :persons="persons"
                                    :curtask="curTask" :status="status"
                                    @close="curTask.comments.showComments = false" />
                            </transition>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div
                class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
            </div>
        </div>
        <transition enter-active-class="duration-300 ease-out " enter-from-class="transform opacity-0 -translate-y-2"
            enter-to-class="opacity-100 translate-y-0" leave-active-class="duration-200 ease-in"
            leave-from-class="opacity-100" leave-to-class="transform opacity-0">
            <edit-persons v-show="showEditPersons" @close="showEditPersons = false" :persons="persons" />
        </transition>
    </main>

    <footer class="flex justify-end fixed w-screen bottom-12">
        <button onclick="save()"
            class="mr-8 border-t-2 border-b-2 border-black hover:border-gray-300 hover:text-gray-600 px-1">
            <i class="fa-solid fa-download"></i>
            <span class="ml-2">SAVE</span>
        </button>
        <button onclick=""
            class="mr-8 border-t-2 border-b-2 border-black hover:border-gray-300 hover:text-gray-600 px-1">
            <i class="fa-solid fa-upload"></i>
            <span class="ml-2">LOAD</span>
        </button>
    </footer>

</body>

</html>